/* crud.css */

body {
    background-color: #FFC55A; /* Warna background */
    font-family: Arial, sans-serif;
    color: black; /* Warna font */
}

h1 {
    text-align: center;
    color: #00215E; /* Warna judul */
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #00215E; /* Warna tabel */
    color: black; /* Warna font dalam tabel */
}

table, th, td {
    border: 1px solid #00215E; /* Warna border tabel */
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #00215E; /* Warna background header tabel */
    color: #FFFFFF; /* Warna font header tabel */
}

td {
    background-color: #FFFFFF; /* Warna background sel tabel */
}

a {
    color: #00215E; /* Warna link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
